# === IDE / Build ===
.gradle
build/
out/
bin/
.idea
*.iml

# === OS ===
.DS_Store
Thumbs.db

# === Elastic Beanstalk ===
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# === Spring Boot Properties ===
src/main/resources/application.properties
src/main/resources/application-*.properties

# === Secrets ===
*.env
*.pem
*.key
*.crt

# === YAML configs ===
*.yml
*.yaml

# === Logs ===
*.log
